<#include "/assets/base.html">

    <div class="container">
        <div class="card">
            <div class="row m-2 m-lg-0 shiina-def-cursor justify-content-center justify-content-lg-start">
                <#include "/freemarker/selector.ftl">
                    <div
                        class="my-2 col-12 col-md-auto my-lg-0 col col-auto d-flex align-items-center justify-content-center ">
                        <div class="btn-group flex-wrap" role="group" aria-label="Mixed example">
                            <button type="button"
                                onclick="selectParam('mode', '<#if (mode == 0 || mode == 1 || mode == 2 || mode == 8)>${convertModeToRelax(mode)}</#if>')"
                                class="btn btn-<#if (mode == 4 || mode == 5 || mode == 6)>primary<#else>secondary</#if>"
                                <#if (mode==3)>disabled</#if>>Relax</button>
                            <button type="button" onclick="selectParam('mode', '8')"
                                class="btn btn-<#if mode == 8>primary<#else>secondary</#if>" <#if (mode !=0 && mode !=4
                                && mode !=8)>disabled</#if>>AutoPilot</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card w-400 mx-auto my-4">
            <div class="">
                <div class=" border-bottom ">
                    <div class="row card-body align-items-center">
                        <div class="col-auto">
                            <div class="user-collage user-collage-lg rounded h-100 overflow-hidden">
                                <#assign count=0>
                                    <img src="${avatarServer}/${clan.owner?c}" class="w-100 h-100 object-fit-cover"
                                        alt="User collage image">
                                    <#list members as collage>
                                        <#assign count=count + 1>
                                            <img src="${avatarServer}/${collage.id?c}"
                                                class="w-100 h-100 object-fit-cover" alt="User collage image">
                                            <#if count==3>
                                                <#break>
                                            </#if>
                                    </#list>
                                    <#if count==0>
                                        <img src="${avatarServer}/0" class="w-100 h-100 object-fit-cover"
                                            alt="User collage image">
                                        <img src="${avatarServer}/0" class="w-100 h-100 object-fit-cover"
                                            alt="User collage image">
                                        <img src="${avatarServer}/0" class="w-100 h-100 object-fit-cover"
                                            alt="User collage image">
                                        <#elseif count==1>
                                            <img src="${avatarServer}/0" class="w-100 h-100 object-fit-cover"
                                                alt="User collage image">
                                            <img src="${avatarServer}/0" class="w-100 h-100 object-fit-cover"
                                                alt="User collage image">
                                            <#elseif count==2>
                                                <img src="${avatarServer}/0" class="w-100 h-100 object-fit-cover"
                                                    alt="User collage image">
                                    </#if>
                            </div>
                        </div>
                        <div class="col-auto me-auto">
                            <h2 class="card-title m-2">
                                ${clan.name}
                            </h2>
                        </div>
                        <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                            <#assign u={ "id" : clan.owner, "name" : clan.ownerName, "country" :
                                clan.ownerCountry, "isOwner" : true }>
                                <#assign index=0>
                                    <#include "/freemarker/models/user.ftl">
                        </div>
                    </div>
                </div>

                <div class="m-2 card-body my-4">
                    <div class="row">
                        <h4>Rankings</h4>
                        <div class="col col-12 col-sm-12 col-lg-6">
                            <div class="row">
                                <div class="col col-12 col-md-6">
                                    <small>Total PP Rank</small>
                                    <h2>#${clan.totalPPRank}</h2>
                                </div>
                                <div class="col col-12 col-md-6">
                                    <small>Average PP Rank</small>
                                    <h2>#${clan.avgPPRank}</h2>
                                </div>
                                <div class="col col-12 col-md-6">
                                    <small>Ranked Score Rank</small>
                                    <h2>#${clan.rankedScoreRank}</h2>
                                </div>
                                <div class="col col-12 col-md-6">
                                    <small>Accuracy Rank</small>
                                    <h2>#${clan.accRank}</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col col-12 col-sm-12 col-lg-6">
                            <div class="ml-2 mr-2">
                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td>
                                                Clan created:
                                            </td>
                                            <td data-timestamp-format="date" data-timestamp="${clan.created}">
                                                ${clan.created}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Owner last active
                                            </td>
                                            <td data-timestamp-format="unix"
                                                data-timestamp="${clan.ownerLastActivity?c}">
                                                ${clan.ownerLastActivity?c}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Members:
                                            </td>
                                            <td>${clan.members}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Total PP:
                                            </td>
                                            <td>${clan.totalPP}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Average PP:
                                            </td>
                                            <td>${clan.avgPP}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ranked Score:
                                            </td>
                                            <td>${clan.rankedScore}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Accuracy:
                                            </td>
                                            <td>${clan.acc}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 card-body">
                    <div class="d-flex flex-column flex-md-row mx-0 mx-sm-0 mb-3">
                        <#if clanRel??>
                             <#if clan.owner==user.id>
                                <a href="/clan/${clan.id}/settings" type="button" class="btn btn-secondary mt-1 me-1"><i
                                        class="fa-solid fa-gear me-2"></i>Clan Management</a>
                            </#if>
                    
                            <#if clanRel.userInThisClan>
                               
                                <#elseif clanRel.clanIdCheck>
                                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="You are already in a clan" class="btn btn-secondary me-1 mt-1">Request
                                        joining</button>
                                <#elseif clanRel.inShClanPending>
                                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Join request pending"
                                        onclick="handleClanJoinRequest('${clan.id}', 'REVOKE')"
                                        class="btn btn-secondary me-1 mt-1">Revoke request</button>
                                <#elseif clanRel.inShClanDenied>
                                    <span class="shiina-follower-count me-1 mt-1">
                                        <div class="shiina-follower-count-icon">
                                            <i class="fa-solid fa-shield red"></i>
                                        </div>
                                        <div class="shiina-follower-count-body">
                                            Denied from joining
                                        </div>
                                    </span>
                                <#else>
                                    <button type="button"
                                        onclick="handleClanJoinRequest('${clan.id}', 'REQUEST')"
                                        class="btn btn-success me-1 mt-1">Request joining</button>

                            </#if>
                             <#if clanRel.userInThisClan>
                             <span class="shiina-follower-count me-1 mt-1">
                                    <div class="shiina-follower-count-icon">
                                        <i class="fa-solid fa-heart-circle-check"></i>
                                    </div>
                                    <div class="shiina-follower-count-body">
                                        Member
                                    </div>
                                </span>
                                </#if>
                            <#if clan.owner==user.id>
                                <span class="shiina-follower-count me-1 mt-1">
                                    <div class="shiina-follower-count-icon">
                                        <i class="fa-solid fa-shield text-primary"></i>
                                    </div>
                                    <div class="shiina-follower-count-body">
                                        Owner
                                    </div>
                                </span>
                            </#if>
                           

                             <span class="shiina-follower-count mt-1">
                            <div class="shiina-follower-count-icon">
                                <i class="fa-solid fa-hashtag"></i>
                            </div>
                            <div class="shiina-follower-count-body">
                                [${clan.tag}]
                            </div>
                        </span>
                        <#else>
                        <span class="shiina-follower-count mt-1">
                            <div class="shiina-follower-count-icon">
                                <i class="fa-solid fa-hashtag"></i>
                            </div>
                            <div class="shiina-follower-count-body">
                                [${clan.tag}]
                            </div>
                        </span>

                        </#if>
                        
                    </div>
                    <div class="row mx-0">
                        <#list members as u>
                            <#assign index=u?index>
                                <div class="col-12 list-group col-md-6 member-entry <#if (index >= 4)> d-none</#if>">
                                    <a href="/u/${u.id?c}<#if u.mode??>?mode=${u.mode}</#if>"
                                        class="list-group-item p-1 border rounded mt-2 list-group-item-action d-flex align-items-center text-decoration-none">
                                        <div class="me-3">
                                            <img src="${avatarServer}/${u.id?c}" alt="${u.name}" class="rounded"
                                                width="40" height="40">
                                        </div>

                                        <#if u.country??>
                                            <div class="me-3 d-none d-md-block">
                                                <img src="/img/flags/${u.country}.svg" alt="${u.country}"
                                                    class="rounded" width="24" height="18">
                                            </div>
                                        </#if>

                                        <div class="flex-grow-1">
                                            <div class="fw-bold">${u.name}</div>
                                        </div>

                                        <div class="text-end me-2">
                                            <small data-timestamp-format="unix"
                                                data-timestamp="${u.latestActivity?c}">${u.latestActivity?c}</small>
                                        </div>
                                    </a>
                                </div>

                                <#else>
                                    <div class="col-12 text-center py-5">
                                        <h5 class="text-muted">No more members in this clan.</h5>
                                    </div>
                        </#list>
                    </div>
                </div>
                

                <#if (members?size> 4)>
                    <div class="text-center mt-4">
                        <button id="loadMoreBtn" class="btn btn-primary">Load More</button>
                    </div>
                </#if>
                <input type="hidden" id="currentCount" value="4">
                <input type="hidden" id="totalMembers" value="${members?size}">

                <div class="row my-4 mx-0" id="activity">
                    <#list activity as score>
                        <#assign index=score?index>
                            <#assign isActivity=true>
                                <#include "/freemarker/models/score.ftl">
                    </#list>
                </div>
                <input type="hidden" id="currentCountAct" value="4">
                <input type="hidden" id="totalMembersAct" value="${activity?size}">

                <#if (activity?size> 4)>
                    <div class="text-center mt-2 mb-2">
                        <button id="loadMoreBtnAct" class="btn btn-primary">Load More</button>
                    </div>
                </#if>

            </div>
        </div>
    </div>

    <#include "/assets/footer.html">
        <script>
            var loadMoreBtn = document.getElementById('loadMoreBtn');
            var loadMoreBtnAct = document.getElementById('loadMoreBtnAct');

            var loadMoreBtnHandler = null;
            var loadMoreBtnActHandler = null;

            function loadMoreHandler(isActivity) {
                let currentCountName = isActivity ? 'currentCountAct' : 'currentCount';
                let totalMembersName = isActivity ? 'totalMembersAct' : 'totalMembers';
                let entryName = isActivity ? 'act' : 'member';

                let currentCount = parseInt(document.getElementById(currentCountName).value, 10);
                let totalMembers = parseInt(document.getElementById(totalMembersName).value, 10);

                const hiddenEntries = document.querySelectorAll('.' + entryName + '-entry.d-none');
                const limit = Math.min(hiddenEntries.length, 4);

                for (let i = 0; i < limit; i++) {
                    hiddenEntries[i].classList.remove('d-none');
                }

                currentCount += limit;
                document.getElementById(currentCountName).value = currentCount;

                if (currentCount >= totalMembers || hiddenEntries.length === 0) {
                    if (isActivity) {
                        loadMoreBtnAct.style.display = 'none';
                    } else {
                        loadMoreBtn.style.display = 'none';
                    }
                }
            }

            function initLoadMoreButtons() {
                cleanupLoadMoreButtons();

                if (loadMoreBtn) {
                    loadMoreBtnHandler = () => loadMoreHandler(false);
                    loadMoreBtn.addEventListener('click', loadMoreBtnHandler);
                }

                if (loadMoreBtnAct) {
                    loadMoreBtnActHandler = () => loadMoreHandler(true);
                    loadMoreBtnAct.addEventListener('click', loadMoreBtnActHandler);
                }
            }

            function cleanupLoadMoreButtons() {
                if (loadMoreBtn && loadMoreBtnHandler) {
                    loadMoreBtn.removeEventListener('click', loadMoreBtnHandler);
                    loadMoreBtnHandler = null;
                }

                if (loadMoreBtnAct && loadMoreBtnActHandler) {
                    loadMoreBtnAct.removeEventListener('click', loadMoreBtnActHandler);
                    loadMoreBtnActHandler = null;
                }
            }

            document.addEventListener('turbo:load', initLoadMoreButtons);
            document.addEventListener('turbo:before-cache', cleanupLoadMoreButtons);
        </script>