<!DOCTYPE html>
<html lang="en" data-bs-theme="${c.mode}" data-bs-core="${c.theme}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbo-refresh-method" content="morph">
    <link href="/css/halfmoon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/shiina.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/turbo.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback"></script>
    <script src="/js/shiina.js"></script>
    <script src="/js/shiina-search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <#if !currentTheme.included>
    <link rel="stylesheet" href="/css/theme.css">
    </#if>
</head>

<body>
   
    <div class="wrapper">
    <#include "navbar.html">
    <#include "/freemarker/globals.ftl">
    <div id="wrapper">