.wrapper {
    min-height: 100vh;
}

.clan-panel:hover,
.clan-panel:focus {
    cursor: pointer;
    transform: translateX(20px);
    transition: transform 0.2s;
}

.shiina-border {
    border-color: var(--bs-action-border-color) !important;
}

.leaderboard-panel {
    border-radius: 5px;
    text-decoration: none;
    color: white
}

.page-item {
    cursor: pointer;
}

.leaderboard-panel:hover,
.leaderboard-panel:focus {
    cursor: pointer;
    transform: translateX(20px);
    transition: transform 0.2s;
}

.footer-dark {

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-dark a {

    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-dark a:hover {
    color: var(--bs-primary-600);
}

.footer-logo {
    height: 75px;
}

.footer-text {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #cccccc;
}

.rights {
    font-size: 0.85rem;
    color: #bbbbbb;
}

.footer-heading {
    color: var(--bs-primary-600);
    font-size: 1.1rem;
    font-weight: bold;
}

.footer-link {
    font-size: 0.95rem;
    color: #f5f5f5;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--bs-primary-600);
}

.nav-list li {
    margin-bottom: 0.5rem;
}

@media (max-width: 767.98px) {
    .footer-dark {
        text-align: center;
    }

    .footer-dark .col-md-4 {
        margin-bottom: 1rem;
    }
}

.nav-list {
    list-style: none;
}

.clan-panel {
    text-decoration: none;
    color: white
}

.home-video {
    position: relative;
    /* Allow absolute positioning of overlay */
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    width: 100%;
    /* Take full width of the container */
    height: 80%;
    /* Set height to a percentage of the parent */
    overflow: hidden;
    /* Hide any overflow */
    border-radius: 25px;
}

.video {
    max-width: 80%;
    /* Limit the width of the video */
    max-height: 80%;
    /* Limit the height of the video */
    width: auto;
    /* Allow width to adjust based on aspect ratio */
    height: auto;
    /* Allow height to adjust based on aspect ratio */
    opacity: 0.7;
    border-radius: 25px;
    /* Make video more transparent */
}

.overlay {
    position: absolute;
    /* Position overlay over the video */
    top: 0;
    /* Align to top */
    left: 10%;
    /* Align to left */
    right: 10%;
    /* Stretch to the right */
    bottom: 0;
    /* Stretch to the bottom */
    display: flex;
    /* Use flexbox for centering */
    border-radius: 25px;
    border: 4px solid #191C20;

    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with transparency */
    color: white;
    /* White text color */
    font-size: 2em;
    /* Adjust font size as needed */

    z-index: 1;
    /* Ensure overlay is on top */
}

.lead-h {
    color: rgba(255, 255, 255, 0.8);
    font-size: medium;
}

.btn-discord {
    background-color: #206694;
    border-color: #206694;
}

.btn-discord:hover,
.btn-discord:focus,
.btn-discord:active,
.btn-discord.active,
.btn-discord:active:focus {
    background-color: #184c6e;
    border-color: #184c6e;
}

.home-badge {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: x-small;
    background-color: #38383850;
    padding: 5px 10px;
    border-radius: 5px;
    user-select: none;
}

.purple {
    color: #bd87f0;
}

.green {
    color: #07ad07;
}

.yellow {
    color: #f0e87b;
}

.red {
    color: #f07b7b;
}

.cyan {
    color: #7bf0f0;
}

.badge-grp {
    user-select: none;
}

@media (max-width: 767px) {
    .logo-col {
        display: none;


    }

    .lol {
        flex: 1 0 0%;
    }
}

@media (max-width: 1200px) {
    .home-video {
        height: 100%;
    }

    .video {
        max-width: 100%;
        max-height: 100%;
        max-width: 1000px;

    }

    .overlay {
        left: 0;
        max-height: 100%;
        right: 0;
        max-width: 1000px;

    }


}

.row.mt-4 {
    display: flex;
    flex-wrap: wrap;
}

.beatmap-card {
    display: flex;
    flex-direction: column;
    /* Ensures that the image and body stack vertically */
    height: 100%;

}

.flag {
    border-radius: 8px;
    width: 40px;
}

.beatmap-card-body {
    flex-grow: 1;
    /* Makes the body take up the remaining space */
}

.sort-button {
    filter: brightness(0) saturate(100%) invert(59%) sepia(24%) saturate(11%) hue-rotate(0deg) brightness(99%) contrast(84%);
}

.sort-button.selected {
    filter: unset;
}

.sort-button:hover {
    filter: unset;
    transition: 0.3s;
}

.sort-button {
    width: 25px;

    margin: 10px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.btn-pink {
    background-color: #964296;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus,
.btn-pink:active:focus {
    background-color: #8d3b8d;
}


.mode-icon {
    width: 30px;
    font-size: 50px;
    color: #fff;
    filter: brightness(0) saturate(100%) invert(93%) sepia(7%) saturate(77%) hue-rotate(187deg) brightness(94%) contrast(90%);
    user-select: none;
}

.country-selector {
    border-color: var(--bs-action-border-color);
    border: 1px solid var(--bs-action-border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    height: 35px;

}

.country-selector:hover,
.country-selector.active {
    background-color: var(--bs-primary-hover-bg);
    border-radius: 5px;
    transition: 0.8s;
}

.pagination-button {
    padding: 20px;
    border-radius: 5px;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.pagination-button:hover {
    background-color: var(--bs-secondary-color);

    transition: 0.8s;

}

.pagination-button.disabled {
    background-color: var(--bs-card-border-color);
    opacity: 80%;
    user-select: none;
    cursor: not-allowed;

}

.clan-badge {
    text-decoration: none;
    padding: 1px;
    font-size: small;
}

.leaderboard-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.sp-card-wrapper {
    transform-style: preserve-3d;
    opacity: 0.99;
}

.sp-card {

    background: #191c29;
    border-radius: 6px;

}



.sp-card:hover::after,
.sp-card:hover::before {
    background-image: linear-gradient(var(--rotate),
            hsla(var(--bs-primary-hsl)),
            var(--bs-primary-700),
            var(--bs-primary-900));
    transition: background 4s;

}

.sp-card::before {
    content: "";
    position: absolute;
    left: calc(0% - 5px);
    top: calc(0% - 5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 5px;
    opacity: 50%;
    background-image: linear-gradient(var(--rotate),
            hsla(var(--bs-primary-hsl)),
            var(--bs-primary-700),
            var(--bs-primary-900));
    animation: spin 2.5s linear infinite;
    z-index: -1;
}



.sp-card::after {
    content: "";
    position: absolute;
    left: calc(0% - 0px);
    top: calc(0% - 0px);
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    transform: scale(0.2 0.2);
    filter: blur(50px);
    background-image: linear-gradient(var(--rotate),
            hsla(var(--bs-primary-hsl)),
            var(--bs-primary-700),
            var(--bs-primary-900));
    opacity: 1;
    transition: opacity 2s;
    animation: spin 2.5s linear infinite;
    z-index: -1;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

/* BM CARD */

  /* Ensures images maintain the same height and aspect ratio */
  .card-img {
    height: 100%; /* Ensures full height of the card column */
    object-fit: cover; /* Crops the image without distortion */
  }





  .card-img {
    display: none;
  }

  /* Once the image is loaded, it will be displayed */
  .card-img.loaded {
    display: block;
  }

  /* Placeholder for loading state (Optional) */
  .image-placeholder {
    background-color: #1c1c1c; /* Placeholder background color */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }