<#include "/assets/base.html">

<div style="min-height: 80vh;" class="d-flex align-items-center justify-content-center">
    <div>
        <div class="container">
            <div class="card my-4">
                <div class="row m-2 pt-2">
                    <div class="col col-auto">
                        <i style="font-size: xx-large;" class="fa-solid fa-exclamation-circle"></i>
                    </div>
                    <div class="col col-auto">
                        <h3>Not Found</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card mb-4">
                <div class=" m-2 p-2">
                    <span>The page you are looking for does not exist. Please check the URL or go back to the <a href="/">homepage</a></span>
                </div>
            </div>
        </div>
    </div>
    
</div>

<#include "/assets/footer.html">