<div class="card-body pb-4">
    <ul class="nav border rounded nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link py-2 <#if actNav == 100>active</#if> d-flex align-items-center" aria-current="page" href="/settings/customization">
               <i style="width: 30px;" class="ms-2 fa-solid fa-palette"></i>
                Customization
            </a>
        </li>
       <li class="nav-item">
            <a class="nav-link py-2 <#if actNav == 101>active</#if> d-flex align-items-center" aria-current="page" href="/settings/auth">
               <i style="width: 30px;" class="ms-2 fa-solid fa-shield"></i>
                Auth
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-2 <#if actNav == 102>active</#if> d-flex align-items-center" aria-current="page" href="/settings/data">
               <i style="width: 30px;" class="ms-2 fa-solid fa-file"></i>
                Data
            </a>
        </li>
        <#list pluginNav as item>
        <li class="nav-item">
            <a class="nav-link py-2 <#if actNav == item.actNav>active</#if> d-flex align-items-center" aria-current="page" href="${item.url}">
               <i style="width: 30px;" class="ms-2 ${item.icon}"></i>
                ${item.name}
            </a>
        </li>
        </#list>
    </ul>
</div>