<!-- Userpage Section -->
<div class="card mb-4">
    <div class="card-header bg-transparent">
        <h5 class="mb-0">
            <i class="fa-solid fa-heart-circle-plus me-2"></i>
            Favorite mode
        </h5>
    </div>
    <div class="card-body">
        <form action="/settings/mode" method="post">
            <select class="form-select form-select-lg" name="mode">
                <#list modes as mode>
                    <option <#if curMode??>
                        <#if curMode=mode.id>selected</#if>
                        </#if> value="${mode.id}">${mode.name}
                    </option>
                </#list>
            </select>
            <button type="submit" class="btn btn-primary mt-2">Change Favorite Mode</button>
        </form>
    </div>
</div>