<#include "assets/base.html">
    <div class="container ">
        <div class="card mt-4">
            <div class="row m-2 m-lg-0 justify-content-center justify-content-lg-start">
                <#include "/freemarker/selector.ftl">
                <div class="col col-12 col-md-auto my-2 my-lg-0 d-flex align-items-center justify-content-center ">
                    <div class="btn-group flex-wrap" role="group" aria-label="Mixed example">
                        <button type="button" onclick="selectParam('status', 999)"
                            class="btn btn-<#if status == 999>primary<#else>secondary</#if>">No Filter</button>
                        <button type="button" onclick="selectParam('status', 2)"
                            class="btn btn-<#if status == 2>primary<#else>secondary</#if>">Ranked</button>
                        <button type="button" onclick="selectParam('status', 1)"
                            class="btn btn-<#if status == 1>primary<#else>secondary</#if>">Pending</button>
                        <button type="button" onclick="selectParam('status', 3)"
                            class="btn btn-<#if status == 3>primary<#else>secondary</#if>">Approved</button>
                        <button type="button" onclick="selectParam('status', 5)"
                            class="btn btn-<#if status == 5>primary<#else>secondary</#if>">Loved</button>
                        <button type="button" onclick="selectParam('status', 4)"
                            class="btn btn-<#if status == 4>primary<#else>secondary</#if>">Qualified</button>
                    </div>

                </div>
                <div class="my-2 my-lg-0 col col-auto d-flex align-items-center justify-content-center ">
                    <div class="btn-group my-auto input-group" role="group" aria-label="Mixed example">
                        <span class="input-group-text" id="add-on-1"><i class="fa-solid fa-user"></i></span>
                        <input id="artist" onfocusout="checkForArtist()" type="text" class="form-control"
                            value="<#if artist??>${artist}</#if>" placeholder="Artist" aria-label="Artist"
                            aria-describedby="Artist">
                    </div>
                </div>
                <div class="my-2 my-lg-0 col col-auto d-flex align-items-center justify-content-center ">
                    <div class="btn-group my-auto input-group" role="group" aria-label="Mixed example">
                        <span class="input-group-text" id="add-on-1"><i class="fa-solid fa-user"></i></span>
                        <input id="creator" onfocusout="checkForCreator()" type="text" class="form-control"
                            value="<#if creator??>${creator}</#if>" placeholder="Creator" aria-label="Creator"
                            aria-describedby="Creator">
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2">Found <span class="text-primary">${entries}</span> entries</div>
        
        <#include "/freemarker/flowing_pagination.ftl">

       
            <div class="row mb-4 g-3">
            <#list beatmaps as beatmap>
                <#include "/freemarker/models/beatmap.ftl">
            </#list>
            </div>


        <#include "/freemarker/flowing_pagination.ftl">
    </div>

<#include "assets/footer.html">
<script>
    function checkForArtist() {
        artist = document.getElementById('artist');
        if (artist.value.length > 0) {
            selectParam('artist', artist.value);
        } else {
            removeParam('artist');
        }
    }

    function checkForCreator() {
        artist = document.getElementById('creator');
        if (artist.value.length > 0) {
            selectParam('creator', artist.value);

        } else {
            removeParam('creator');
        }
    }
</script>