<#include "assets/base.html">

<div class="container">
    <div class="card">
        <div class="row m-2 m-lg-0 shiina-def-cursor justify-content-center justify-content-lg-start">
            
            <#include "/freemarker/selector.ftl">
                <div
                    class="my-2 col-12 col-md-auto my-lg-0 col col-auto d-flex align-items-center justify-content-center ">
                    <div class="btn-group shiina-def-cursor flex-wrap" role="group" aria-label="Mode Selector">
                        <button type="button"
                            onclick="selectParam('mode', '<#if (mode == 0 || mode == 1 || mode == 2 || mode == 8)>${convertModeToRelax(mode)}</#if>')"
                            class="btn btn-<#if (mode == 4 || mode == 5 || mode == 6)>primary<#else>secondary</#if>"
                            <#if (mode==3)>disabled</#if>>Relax</button>
                        <button type="button" onclick="selectParam('mode', '8')"
                            class="btn btn-<#if mode == 8>primary<#else>secondary</#if>" <#if (mode !=0 && mode !=4
                            && mode !=8)>disabled</#if>>AutoPilot</button>
                    </div>

                </div>

        </div>
        
    </div>

    <div class="card mt-4">
      <div class="shiina-def-cursor card-body">
        <#list beatmap.diffs as diff>
            <a href="/b/${diff.id?c}" data-bs-toggle="tooltip" data-bs-placement="top" title="${diff.version}" class="fa-regular <#if beatmap.version = diff.version>shiina-versel</#if> shiina-ver text-${convertDiffToColor(diff.version)} ms-2 fa-circle"></a>
        </#list>
      </div>
    </div>
    
    <div style="background-image: url('https://assets.ppy.sh/beatmaps/${beatmap.setId?c}/covers/cover.jpg');" class="card shiina-background-bg mt-2 p-4">
        <div class="row mb-2">

            <div class="col-12">
                <h1 class="card-title">${beatmap.artist} - ${beatmap.title} [${beatmap.version}]</h1>
            </div>
        </div>

        <div class="row mb-2 d-flex  ">
            <div class="col col-auto ">
                <div class="shiina-beatmap-stat-row mb-2">
                    <div data-bs-toggle="tooltip" title="Circle Size" class="shiina-beatmap-stat-show">
                        <span>CS: ${beatmap.cs}</span>
                    </div>

                    <div data-bs-toggle="tooltip" title="Drain" class="shiina-beatmap-stat-show">
                        <span>HP: ${beatmap.hp}</span>
                    </div>

                    <div data-bs-toggle="tooltip" title="Overall Difficulty" class="shiina-beatmap-stat-show">
                        <span>OD: ${beatmap.od}</span>
                    </div>

                    <div data-bs-toggle="tooltip" title="Approach Rate" class="shiina-beatmap-stat-show">
                        <span>AR: ${beatmap.ar}</span>
                    </div>

                    <div class="shiina-beatmap-stat-show bg-${convertStatusBackColor(beatmap.status)}">
                        <span>${convertStatusBack(beatmap.status)}</span>
                    </div>
                </div>
                <div class="shiina-beatmap-stat-row">
                    <div class="shiina-beatmap-stat-show">
                        <i class="fa-regular fa-circle text-${convertDiffToColor(beatmap.version)}"></i>
                        <span>${beatmap.version}</span>
                    </div>
                    <div class="shiina-beatmap-stat-show">
                        <i class="fa-solid fa-star"></i>
                        <span>Diff: ${beatmap.diff?string("0.00")}</span>
                    </div>
                    <div class="shiina-beatmap-stat-show">
                        <i class="fa-solid fa-headphones"></i>
                        <span>BPM: ${beatmap.bpm}</span>
                    </div>
                    <div class="shiina-beatmap-stat-show">
                        <i class="fa-solid fa-stopwatch"></i>
                        <span>${(beatmap.totalLength / 60)?string("0.0")} Minutes</span>
                    </div>
                    <div class="shiina-beatmap-stat-show">
                        <i class="fa-solid fa-play"></i>
                        <span>Plays: ${beatmap.plays}</span>
                    </div>
                    <div class="shiina-beatmap-stat-show">
                        <i class="fa-solid fa-circle-check"></i>
                        <span>Passes: ${beatmap.passes}</span>
                    </div>  
                </div>
               
            </div>
            <div class="row justify-content-end mt-2">
                <#if user??>
                <form action="/api/v1/handle_favorite" method="POST" class="col col-auto d-flex align-self-end shiina-beatmap-favorite">
                    <input type="hidden" name="set_id" value="${beatmap.setId?c}">
                    <input type="hidden" name="id" value="${id?c}">
                    <button class="no-button shiina-ver" type="submit"><i class="<#if favorite>fa-solid fa-heart<#else>fa-regular fa-heart</#if>"></i></button>
                </form>
                </#if>
                <div class="col col-auto shiina-def-cursor shiina-beatmap-mapper-panel">
                    <p>Mapped by: <small>${beatmap.creator}</small><b></b></p>
                    <p>Last update: <small data-timestamp-format="date" data-timestamp="${beatmap.lastUpdate}">${beatmap.lastUpdate}</small>
                    </p>
                </div>
            </div>
            
            
        </div>
    </div>


 


    
</div>

<ul class="nav nav-pills justify-content-center mt-2">
    <a target="_blank" 
    href="https://osu.ppy.sh/beatmapsets/${beatmap.setId?c}#${convertModeBack(beatmap.mode)}/${id?c}" 
    class="nav-link shiina-beatmap-button">
        <i class="fa-regular fa-circle"></i>
        View on osu!
      </a>

    <a href="osu://dl/${beatmap.setId?c}" class="nav-link shiina-beatmap-button" href="#">
        <i class="fa-solid fa-download" ></i>
        Download with osu!direct
      </a>

      <a href="https://osu.direct/api/d/${beatmap.setId?c}" class="nav-link shiina-beatmap-button" href="#">
        <i class="fa-solid fa-floppy-disk"></i>
        Download beatmap
      </a>
      
  </ul>
<div class="container mb-4">
    <div class="card mt-2 p-3">
        <!-- Nav-fill -->
        <ul class="nav nav-pills nav-fill mb-1">
            <li class="nav-item">
            <button class="nav-link <#if sort = 'pp'>active</#if>" onclick="removeParam('sort')" href="#">Performance</button>
            </li>
            <li class="nav-item">
            <button class="nav-link <#if sort = 'score'>active</#if>" onclick="selectParam('sort', 'score')" href="#">Score</button>
            </li>

        </ul>
        <div class="col col-12">
            <div class="row">
                <div class="col col-auto">
                    <button onclick="selectParam('page', '${page - 1}')"
                        class="pagination-button bg-secondary m-2 <#if page ==1>disabled</#if>" <#if
                        page==1>disabled</#if>><i
                            class="fa-solid fa-arrow-left pagination-icon"></i></button>
                </div>
                <div class="col ms-auto col-auto">
                    <button onclick="selectParam('page', '${page + 1}')"
                        class="pagination-button bg-secondary m-2 <#if !hasNextPage>disabled</#if>" <#if !hasNextPage>disabled</#if>><i
                            class="fa-solid fa-arrow-right pagination-icon"></i></button>
                </div>
            </div>
        </div>
        <#list beatmap.scores as score>
        <div class="col col-12 member-entry">
            <a href="/scores/${score.id?c}" class="bg-secondary m-2 mb-1 mt-1 p-2 row leaderboard-panel" style="border-radius: 5px;">
                <div class="col-auto d-flex align-items-center me-4">
                    <span class="m-1">
                        <img class="flag" src="${avatarServer}/${score.userId?c}" alt="">
                    </span>
                    <span class="m-1 ms-4">
                        <img class="flag" src="/img/flags/${score.country}.svg" alt="${score.country} Flag">
                    </span>
                    <span class="col-auto ms-4 shiina-rank-font">#${(score?index + 1) + (pageSize * (page - 1))}</span>
                </div>
                <div class="col d-flex align-items-center">
                    <span class="ms-2">
                        <#assign passedMods = score.mods>
                        ${score.name} <#include "/freemarker/modconvert.ftl">  
                    </span>
                </div>
                <div class="col-auto ms-auto d-flex align-items-center">
                    <div class="me-3 d-flex align-items-center">
                        <#assign height=30> <#include "/freemarker/gradeconvert.ftl">
                    </div>
                    <div class="d-flex align-items-center">
                        <#if sort == 'pp'>
                            ${score.pp?string("0")}pp
                        <#elseif sort == 'score'>
                            ${score.score}
                        </#if>
                        
                    </div>
                </div>
            </a>
        </div>
        <#else>
        <div class="card">
            <div class="card-body text-center py-5">
              <i class="fa-solid fa-circle-exclamation text-primary mb-3" style="font-size: 3rem;"></i>
              <h1 class="card-title">No scores set on this beatmap</h1>
              <p class="card-text text-muted">Be the first to set a record on this beatmap!</p>
            </div>
          </div>
          
        </#list>
        <div class="col col-12">
            <div class="row">
                <div class="col col-auto">
                    <button onclick="selectParam('page', '${page - 1}')"
                        class="pagination-button bg-secondary m-2 <#if page ==1>disabled</#if>" <#if
                        page==1>disabled</#if>><i
                            class="fa-solid fa-arrow-left pagination-icon"></i></button>
                </div>
                <div class="col ms-auto col-auto">
                    <button onclick="selectParam('page', '${page + 1}')"
                        class="pagination-button bg-secondary m-2 <#if !hasNextPage>disabled</#if>" <#if !hasNextPage>disabled</#if>><i
                            class="fa-solid fa-arrow-right pagination-icon"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>



<#include "assets/footer.html">

