<#include "assets/base.html">
<div class="container">
<div class="card my-2 shiina-user-card">
    <div class="bg-secondary rounded-top">
        <div class="row p-4">
            <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                <img src="${avatarServer}/${u.id}" alt="Profile picture"
                    class="img-fluid rounded" style="max-width: 150px; min-width: 150px;">
            </div>
            <div class="col-12 col-md-9 d-flex flex-column justify-content-center text-body">
                <div><span class='display-3 fw-bold shiina-player-name'>${u.name} 

                </span> 
                    <div class="groupPlace">
                        <span class="groupDiv"><span class="groupEmoji">🤖</span>Bot</span>
                       
                    </div>
                   
                </div>
                <style>
                    .groupEmoji {
                        width: 20px;
                        display:inline-block;
                    }
                </style>

            </div>
        </div>
    </div>
</div>
</div>
<#include "assets/footer.html">
