<#include "assets/base.html">

    <div class="container">
        <div class="card mt-4">
            <div class="row m-2 m-lg-0 justify-content-center justify-content-lg-start">
                <#include "/freemarker/selector.ftl">
                    <div
                        class="my-2 col-12 col-md-auto my-lg-0 col col-auto d-flex align-items-center justify-content-center ">
                        <div class="btn-group flex-wrap" role="group" aria-label="Mixed example">
                            <button type="button" onclick="selectParam('sort', 'totalpp')"
                                class="btn btn-<#if sort == 'totalpp'>primary<#else>secondary</#if>">Total PP</button>
                            <button type="button" onclick="selectParam('sort', 'avgpp')"
                                class="btn btn-<#if sort == 'avgpp'>primary<#else>secondary</#if>">Average PP</button>
                            <button type="button" onclick="selectParam('sort', 'rankedscore')"
                                class="btn btn-<#if sort == 'rankedscore'>primary<#else>secondary</#if>">Ranked
                                Score</button>
                            <button type="button" onclick="selectParam('sort', 'acc')"
                                class="btn btn-<#if sort == 'acc'>primary<#else>secondary</#if>">Accuracy</button>
                        </div>

                    </div>

                    <div
                        class="my-2 col-12 col-md-auto my-lg-0 col col-auto d-flex align-items-center justify-content-center ">
                        <div class="btn-group flex-wrap" role="group" aria-label="Mixed example">
                            <button type="button"
                                onclick="selectParam('mode', '<#if (mode == 0 || mode == 1 || mode == 2 || mode == 8)>${convertModeToRelax(mode)}</#if>')"
                                class="btn btn-<#if (mode == 4 || mode == 5 || mode == 6)>primary<#else>secondary</#if>"
                                <#if (mode==3)>disabled</#if>>Relax</button>
                            <button type="button" onclick="selectParam('mode', '8')"
                                class="btn btn-<#if mode == 8>primary<#else>secondary</#if>" <#if (mode !=0 && mode !=4
                                && mode !=8)>disabled</#if>>AutoPilot</button>


                        </div>

                    </div>

            </div>
            
        </div>
        <#if user??>
        <div class="card mt-2 d-flex justify-content-center align-items-center">
            <div class="row d-flex flex-wrap w-100">
                <button class="col-auto pt-1 btn btn-secondary m-2">Create clan</button>
            </div>
        </div>
        </#if>
    </div>






            <div class="container">
                <div class="card leaderboard mt-4 mb-4">
                    <div class="row">
                        <div class="col col-12">
                            <div class="row">
                                <div class="col col-auto">
                                    <button onclick="selectParam('page', '${page - 1}')"
                                        class="pagination-button bg-secondary m-2 <#if page ==1>disabled</#if>" <#if
                                        page==1>disabled</#if>><i
                                            class="fa-solid fa-arrow-left pagination-icon"></i></button>
                                </div>
                                <div class="col ms-auto col-auto">
                                    <button onclick="selectParam('page', '${page + 1}')"
                                        class="pagination-button bg-secondary m-2 <#if pageSize != totalPageSize>disabled</#if>"
                                        <#if pageSize !=totalPageSize>disabled</#if>><i
                                            class="fa-solid fa-arrow-right pagination-icon"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12">
                            <ul class="leaderboard-list">
                                <#assign clanC=0>
                                    <#list clans as clan>

                                        <li style="list-style: none;">
                                            <a href="/clan/${clan.id}" class="bg-secondary m-2 p-3 row clan-panel"
                                                style="border-radius: 5px;">

                                                <span class="col-auto"
                                                    style="font-size: calc((var(--bs-font-size-base) + .3000rem) + .5vw);">#${offset
                                                    + clanC}</span>
                                                <span class="col col-auto d-flex align-items-center">

                                                    <span class="ms-2">[${clan.tag}] ${clan.name}</span>
                                                </span>
                                                <span class="col col-auto d-flex align-items-center">
                                                    <span class="ms-2"><i class="fa-solid fa-users"></i>
                                                        ${clan.members}</span>
                                                </span>
                                                <div class="col-auto ms-auto d-flex align-items-center">
                                                    ${clan.competitionValue}<#switch sort>
                                                        <#case "totalpp">pp<#break>
                                                                <#case "avgpp">pp<#break>
                                                                        <#case "rankedscore"> Score<#break>
                                                                                <#case "acc">%<#break>
                                                    </#switch>
                                                </div>
                                            </a>
                                        </li>
                                        <#assign clanC=clanC + 1>
                                    </#list>
                            </ul>
                        </div>

                        <div class="col col-12">
                            <div class="row">
                                <div class="col col-auto">
                                    <button onclick="selectParam('page', '${page - 1}')"
                                        class="pagination-button bg-secondary m-2 <#if page ==1>disabled</#if>" <#if
                                        page==1>disabled</#if>><i
                                            class="fa-solid fa-arrow-left pagination-icon"></i></button>
                                </div>
                                <div class="col ms-auto col-auto">
                                    <button onclick="selectParam('page', '${page + 1}')"
                                        class="pagination-button bg-secondary m-2 <#if pageSize != totalPageSize>disabled</#if>"
                                        <#if pageSize !=totalPageSize>disabled</#if>><i
                                            class="fa-solid fa-arrow-right pagination-icon"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div>
        </div>

        <#include "assets/footer.html">