<#include "assets/base.html">
<div class="container">
    <div class="card w-100 mb-2">
        <div class="bg-secondary border-0 card-header text-body d-flex align-items-center py-4">
            <div class="col-auto me-3">
                <i class="${icon} shiina-doc-font-size"></i>
            </div>
            <h4 class="mb-0">${title}</h4>
        </div>

        <div class="card-body bg-body px-4 py-3">
            ${content}
        </div>
    </div>
</div>
<#include "assets/footer.html">
