<#include "assets/base.html">
    <style>
        
    </style>
    <div class="container desktop mt-2">
        <div class="home-video">
            <video src="video/onl.mp4" class="video" autoplay loop muted></video>
            <div class="overlay">
                <div class="row">
                    <div class="col lol col-6" >
                        <div style="margin-top: 50px; margin-left: 50px; margin-right: 50px">


                            <h1 class="display-4">OsuNoLimits</h1>
                            <div class="lead-h">an unrestricted Sandbox, Cheating, and Testing Server where the
                                possibilities are endless in-game. From embracing the serene realms of Relax Cheats to
                                venturing into uncharted territories</div>
                                <div class="badge-grp">
                                    <span class="home-badge"><span class="purple">${playerCount.total}</span> Registered</span>
                                    <span class="home-badge"><span class="green">${playerCount.online}</span> Online</span>
                                    <span class="home-badge"><span class="yellow">${customCount.clans}</span> Clans</span>
                                </div>
                                <div class="badge-grp">
                                    <span class="home-badge"><span class="red">${customCount.plays}</span> Plays</span>
                                    <span class="home-badge"><span class="cyan">${customCount.beatmaps}</span> Beatmaps</span>
                                </div>
                            <a class="btn btn-primary" href="/register" role="button">Register</a>
                            <a class="btn btn-discord" href="/discord" role="button">Discord</a>
                            <a class="btn btn-secondary" href="/docs/connect">How to connect?</a>
                        </div>


                    </div>
                    <div class="col col-6 logo-col">
                        <img src="img/biglogo.webp" class="d-flex justify-content-center mx-auto"
                            style="width: inherit; max-width: 40%;" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="d-flex bg-body" style="margin-top: 20px;" id="feature-cards">
        <div class="container d-flex justify-content-center">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 align-self-center">
    
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mx-auto text-center">
                                            <i class="fa fa-cloud-upload-alt fa-4x text-info"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <p class="text-info">Free osu!Direct</p>
                                            <p class="text-secondary">osuNoLimits offers free osu!Direct with <a href="https://osu.direct">osu.direct</a>.</p>
                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mx-auto text-center">
                                            <i class="fa fa-desktop fa-4x text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <p class="text-warning">Self-Made Frontend</p>
                                            <p class="text-secondary">osuNoLimits runs Shiina a website that uses Java.</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mx-auto text-center">
                                            <i class="fa fa-envelope fa-4x text-success"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <p class="text-success">Integrated Clans</p>
                                            <p class="text-secondary">Group up with friends and compete with other players.</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mx-auto text-center">
                                            <i class="fa fa-wrench fa-4x text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <p class="text-danger">Maintained Enviroments</p>
                                            <p class="text-secondary">Our Developers are working hard to improve our services.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <#include "assets/footer.html">