<#include "assets/base.html">
    <div class="container">
        <div class="card">
            <div class="row m-2 m-lg-0 shiina-def-cursor justify-content-center justify-content-lg-start">
                <#include "/freemarker/selector.ftl">
                <div class="my-2 col-12 col-md-auto my-lg-0 col col-auto d-flex align-items-center justify-content-center ">
                    <div class="btn-group flex-wrap" role="group" aria-label="Mixed example">
                        <button type="button" onclick="selectParam('sort', 'pp')"
                            class="btn btn-<#if sort == 'pp'>primary<#else>secondary</#if>">PP</button>
                        <button type="button" onclick="selectParam('sort', 'tscore')"
                            class="btn btn-<#if sort == 'tscore'>primary<#else>secondary</#if>">Total Score</button>
                        <button type="button" onclick="selectParam('sort', 'rscore')"
                            class="btn btn-<#if sort == 'rscore'>primary<#else>secondary</#if>">Ranked Score</button>
                        <button type="button" onclick="selectParam('sort', 'acc')"
                            class="btn btn-<#if sort == 'acc'>primary<#else>secondary</#if>">Accuracy</button>
                        <button type="button" onclick="selectParam('sort', 'playtime')"
                            class="btn btn-<#if sort == 'playtime'>primary<#else>secondary</#if>">Playtime</button>

                    </div>

                </div>
                <div class="my-2 col col-auto d-flex align-items-center justify-content-center ">
                    <div class="btn-group flex-wrap" role="group" aria-label="Mixed example">
                        <button type="button" onclick="selectParam('mode', '<#if (mode == 0 || mode == 1 || mode == 2 || mode == 8)>${convertModeToRelax(mode)}</#if>')"
                            class="btn btn-<#if (mode == 4 || mode == 5 || mode == 6)>primary<#else>secondary</#if>" <#if (mode == 3)>disabled</#if>>Relax</button>
                        <button type="button" onclick="selectParam('mode', '8')"
                            class="btn btn-<#if mode == 8>primary<#else>secondary</#if>" <#if (mode != 0 && mode != 4  && mode != 8)>disabled</#if>>AutoPilot</button>
                        

                    </div>

                </div>

            </div>
        </div>


        <div class="card mt-4 d-flex justify-content-center align-items-center">
            <div class="px-auto row d-flex justify-content-center align-items-center w-100">
                <button onclick="removeParam('country')"
                    class="col-auto country-selector pt-1 btn <#if !country??> btn-primary active <#else>btn-secondary</#if>">No Country</button>
                <#list countries as flag>
                    <#if flag_index==10>
                        <span data-bs-toggle="modal" data-bs-target="#country-modal" style="user-select: none;"
                            class="col-auto country-selector pt-1">...</span>
                        <#break>
                    </#if>
                    <span onclick="selectParam('country', '${flag}')"
                        class="col-auto country-selector <#if country??><#if flag == country>active</#if></#if>"><img
                            class="flag"
                            src="/img/flags/${flag}.svg"
                            alt=""></span>
                </#list>
            </div>
        </div>
    </div>

    <#include "modals/countries.html">

        <div class="container">
            <div class="card leaderboard mt-4 mb-4">
                <div class="row">
                    <div class="col col-12">
                        <div class="row">
                            <div class="col col-auto">
                                <button onclick="selectParam('page', '${page - 1}')"
                                    class="pagination-button bg-secondary m-2 <#if page ==1>disabled</#if>" <#if
                                    page==1>disabled</#if>><i
                                        class="fa-solid fa-arrow-left pagination-icon"></i></button>
                            </div>
                            <div class="col ms-auto col-auto">
                                <button onclick="selectParam('page', '${page + 1}')"
                                    class="pagination-button bg-secondary m-2 <#if !hasNextPage>disabled</#if>" <#if
                                    !hasNextPage>disabled</#if>><i
                                        class="fa-solid fa-arrow-right pagination-icon"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12">
                        <ul class="leaderboard-list">
                            <#assign leaderboardC=0>
                                <#list leaderboard as player>

                                    <li style="list-style: none;">
                                        <a href="/u/${player.playerId?c}?mode=${mode}" class="bg-secondary m-2 p-2 justify-content-end row leaderboard-panel style="border-radius: 5px;">
                                            <span class="col-auto d-flex align-items-center opacity-25 shiina-rank-font rounded-start bg-dark "
                                                >#${offset
                                                + leaderboardC}</span>
                                            <span class="col-auto d-flex align-items-center"><img class="flag"
                                                src="${avatarServer}/${player.playerId?c}"
                                                alt=""></span>
                                            <span class="col-auto d-flex align-items-center"><img class="flag"
                                                    src="/img/flags/${player.country}.svg"
                                                    alt=""></span>
                                            
                                            <span class="col-auto d-flex align-items-center me-auto">
                                                <#if player.clanTag?? && player.clanId??>
                                                    <span class="clan-badge p-1 badge badge-secondary" >[${player.clanTag}]</span>
                                                </#if>
                                                <span class="mx-2 <#if player.supporter>supporter</#if>">${player.name}</span>  <#if player.groups??> <#list player.groups as group><span class="groupDiv">${group.emoji} ${group.name}</span></#list></#if>
                                            </span>

                                            <div class="col-auto d-flex opacity-50 align-items-center leaderboard-additional-stats">
                                                <#if sort != "pp" && player.pp??>
                                                    <div class="leaderboard-additional-stat ms-1">
                                                        <span class="leaderboard-additional-stat-value text-info">${player.pp?string("0")}</span>
                                                        <span class="leaderboard-additional-stat-label">pp</span>
                                                    </div>
                                                </#if>
                                                
                                                <#if sort != "acc" && player.accuracy??>
                                                    <div class="leaderboard-additional-stat ms-1">
                                                        <span class="leaderboard-additional-stat-value text-success">${player.accuracy}</span>
                                                        <span class="leaderboard-additional-stat-label">% Acc</span>
                                                    </div>
                                                </#if>
                                                
                                                <#if sort != "tscore" && player.totalScore??>
                                                    <div class="leaderboard-additional-stat ms-1">
                                                        <span class="leaderboard-additional-stat-value text-warning">${player.totalScore}</span>
                                                        <span class="leaderboard-additional-stat-label">Score</span>
                                                    </div>
                                                </#if>
                                     
                                            </div>

                                            <div class="score-stats col-auto d-flex align-items-center ">
                                                <div class="main-stats">
                                                    <#switch sort>
                                                    <#case "pp">
                                                        <div class="pp-display text-info fw-bold">
                                                            ${player.pp?string("0")}<span class="text-info-emphasis">pp</span>
                                                        </div>
                                                        <#break>
                                                    <#case "tscore">
                                                        <div class="pp-display text-info fw-bold">
                                                            ${player.totalScore}<span class="text-info-emphasis"> Score</span>
                                                        </div>
                                                        <#break>
                                                    <#case "rscore">
                                                        <div class="pp-display text-info fw-bold">
                                                            ${player.rankedScore}<span class="text-info-emphasis"> Score</span>
                                                        </div>
                                                        <#break>
                                                    <#case "acc">
                                                        <div class="pp-display text-info fw-bold">
                                                            ${player.accuracy}<span class="text-info-emphasis">%</span>
                                                        </div>
                                                        <#break>
                                                    <#case "playtime">
                                                        <div class="pp-display text-info fw-bold">
                                                            <#list convertPlaytime(player.playtime)?keys as key>
                                                                ${convertPlaytime(player.playtime)[key]}
                                                                <span class="text-info-emphasis">${key}</span>
                                                            </#list>
                                                        </div>
                                                        <#break>
                                                </#switch>
                                                
                                                </div>
                                            </div>
                                            
                                     
                                        </a>
                                    </li>
                                    <#assign leaderboardC=leaderboardC + 1>
                                </#list>
                        </ul>
                    </div>
                    <section id="bot">
                        <div class="col col-12">
                            <div class="row">
                                <div class="col col-auto">
                                    <button onclick="selectParam('page', '${page - 1}')"
                                        class="pagination-button bg-secondary m-2 <#if page ==1>disabled</#if>" <#if
                                        page==1>disabled</#if>><i
                                            class="fa-solid fa-arrow-left pagination-icon"></i></button>
                                </div>
                                <div class="col ms-auto col-auto">
                                    <button onclick="selectParam('page', '${page + 1}')"
                                        class="pagination-button bg-secondary m-2 <#if !hasNextPage>disabled</#if>" <#if
                                        !hasNextPage>disabled</#if>><i
                                            class="fa-solid fa-arrow-right pagination-icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>



            </div>
        </div>

        </div>
    <div>
</div>
<#include "assets/footer.html">