<#include "assets/base.html">
<div class="container">
    <div class="card rounded-3">
        <!-- Header Section with Player's Name and Score -->
        <div class="card-header bg-secondary text-body d-flex justify-content-between align-items-center py-4">
            <div class="d-flex align-items-center">
                <#assign height=60>
                <#include "/freemarker/gradeconvert.ftl">
                <span class="h1 fw-bold mb-0">${score.username}'s Score</span>
            </div>
            <small class="text-end" data-timestamp-format="date" data-timestamp="${score.playTime}">
                ${score.playTime}
            </small>
        </div>

        <!-- Main Score Section -->
        <div class="card-body px-4 bg-body">
            <div class="row">
                <!-- Performance Points and Accuracy -->
                <div class="col-lg-6 d-flex flex-column">
                    <div class="row mb-3">
                        <div class="col-6">
                            <small>Performance Points</small>
                            <h2 class="text-success">${score.pp?string("0")}pp</h2>
                        </div>
                        <div class="col-6">
                            <small>Accuracy</small>
                            <h2 class="text-info">${score.acc?string("0.00")}%</h2>
                        </div>
                    </div>

                    <!-- Score and Mods -->
                    <div class="row">
                        <div class="col-6">
                            <small>Score</small>
                            <h2>${score.score}</h2>
                        </div>
                        <#if score.mods?size != 0>
                        <div class="col-6">
                            <small>Mods</small>
                            <#assign passedMods=score.mods>
                            <h2 class="text-warning"><#include "/freemarker/modconvert.ftl"></h2>
                        </div>
                        </#if>
                    </div>

                    <!-- Download and Report Buttons -->
                    <div class="btn-group mt-4" role="group">
                        <a href="${apiUrlPub}/v1/get_replay?id=${score.id?c}" type="button" class="btn btn-primary">
                            <i class="fa-solid fa-download"></i> Download Replay
                        </a>
                        <#if user??>
                        <button type="button" class="btn btn-danger">
                            <i class="fa-solid fa-exclamation-triangle"></i> Report Score
                        </button>
                        </#if>
                    </div>
                </div>

                <!-- Beatmap Information -->
                <div class="col-lg-6 mt-2 md-md-0">
                    <#assign beatmap=score.beatmap>
                    <#assign bigBm=true>
                    <#include "/freemarker/models/beatmap.ftl">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <h5 class="text-center">Hit Statistics</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>300s:</span>
                            <span class="badge bg-info rounded-pill">${score.n300}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Gekis:</span>
                            <span class="badge bg-info rounded-pill">${score.ngeki}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>100s:</span>
                            <span class="badge bg-secondary rounded-pill">${score.n100}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Katus:</span>
                            <span class="badge bg-secondary rounded-pill">${score.nkatu}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>50s:</span>
                            <span class="badge bg-danger rounded-pill">${score.n50}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Misses:</span>
                            <span class="badge bg-danger rounded-pill">${score.nmiss}</span>
                        </li>
                    </ul>
                </div>
    
                <!-- Play Information -->
                <div class="col-md-6 mt-3">
                    <h5 class="text-center">Play Information</h5>
                    <ul class="list-group">
                        <#assign height=20> 
                        <li class="list-group-item">Play Time: ${score.playTime}</li>
                        <li class="list-group-item">Grade: <#include "/freemarker/gradeconvert.ftl"></li>
                        <#if score.status??><li class="list-group-item">Status: ${convertScoreStatus(score.status)}</li></#if>
                    </ul>
    
                
                </div>
                <#assign u = {
                    "id": score.userId,
                    "name": score.username,
                    "country": score.country,
                    "mode", score.mode,
                    "big": true
                }>
                <div class="col mt-3 col-12 <#if !u.isOwner??><#if !u.big??>col-md-6</#if></#if> member-entry">
                    <a href="/u/${u.id?c}<#if u.mode??>?mode=${u.mode}</#if>" class="bg-secondary m-2 p-2 row leaderboard-panel" style="border-radius: 5px;">
                        <span class="m-1 m-sm-0 col-auto d-flex align-items-center">
                            <img class="flag" src="${avatarServer}/${u.id?c}" alt="">
                        </span>
                        <#if u.country??>
                        <span class="m-1 m-sm-0 col-auto d-none d-lg-flex align-items-center">
                            <img class="flag" src="/img/flags/${u.country}.svg" alt="${u.country} Flag">
                        </span>
                        </#if>
                        <#if u.isOwner??>
                            <span class="m-1 m-sm-0 col-auto d-flex align-items-center">
                                <i class="fa-solid fa-crown fa-2xl"></i>
                            </span>
                        </#if>

                        <span class="m-1 m-sm-0 col-auto d-flex align-items-center">
                            <span class="ms-2">
                                <span class="mx-2 <#if score.supporter>supporter</#if>">${score.user.name}</span>  <#if score.user.groups??> <#list score.user.groups as group><span class="groupDiv">${group.emoji} ${group.name}</span></#list></#if>
                            </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            
        </div>

    </div>
</div>
<#include "assets/footer.html">