<#include "assets/base.html">

  <div class="container-fluid bg-body-tertiary border-bottom p-3">
    <div class="row align-items-center">
      <div class="col-auto">
        <h5 class="mb-0">
          <i class="fa-solid fa-list"></i> Audit Log
        </h5>
      </div>
    </div>
  </div>

<div class="container-fluid mt-2">
    <ul class="list-group">
        <#list auditLog as log>
        <li class="list-group-item d-flex align-items-center">
            <div class="d-flex align-items-center flex-wrap">
                <img src="${avatarServer}/${log.userId?c}" class="img-fluid me-2" width="24" height="24"> 
                <a href="/ap/user?id=${log.userId}" class="text-decoration-none fw-medium me-2">${log.userName}</a>
                
                <span class="me-2">
                <#if log.action == "RESTRICT">
                    <span class="badge bg-danger">restricted</span>
                <#elseif log.action == "UNRESTRICT">
                    <span class="badge bg-success">unrestricted</span>
                <#elseif log.action == "ADDPRIV">
                    <span class="badge bg-danger">added privilege</span> <code class="small">${log.privs}</code> to
                <#elseif log.action == "REMOVEPRIV">
                    <span class="badge bg-danger">removed privilege</span> <code class="small">${log.privs}</code> from
                <#elseif log.action == "WIPE">
                    <span class="badge bg-dark">wiped</span>
                <#elseif log.action == "GIVEDONATOR">
                    <span class="badge bg-warning">gave donator to</span>
                <#elseif log.action == "RMPB">
                    <span class="badge bg-secondary">removed profile picture of</span>
                </#if>
                </span>
                
                <img src="${avatarServer}/${log.targetId?c}" class="img-fluid me-2" width="24" height="24">
                <a href="/ap/user?id=${log.targetId?c}" class="text-decoration-none fw-medium">${log.targetName}</a>
                
                <#if log.action != "ADDPRIV" && log.action != "REMOVEPRIV">
                    <span class="ms-2 text-muted">for</span>
                    <span class="ms-1 fst-italic">"${log.reason}"</span>
                </#if>
                
                <#if log.action == "WIPE">
                    <span class="ms-2 small text-muted">on mode <span class="badge bg-light text-dark">${convertModeBack(log.mode)?upper_case}</span></span>
                </#if>
            </div>
        </li>
        </#list>
    </ul>



</div>
    <#include "/ap/assets/pagination.html">

</div>
</body>
</html>
